<form action="action_page.php">
    <div class="container">
      <h1>Create Group</h1>
      <hr>
  
      <label for="name" id="namelabel"><b>Group Name: </b></label>
      <input type="text" placeholder="Enter Name" name="groupname" id="groupname" [(ngModel)] = "groupname" required>
      <br>

      <label for="name" id="idlabel"><b>Group ID: </b></label>
      <input type="text" placeholder="Enter ID" name="groupid" id="groupid" [(ngModel)] = "groupid" required>
      <hr>

      <button type="submit" class="registerbtn" (click)="submitNewGroup()">Create Group</button>
    </div>
</form>
