<form action="action_page.php">
    <div class="container">
      <h1>Manage Group/Channel</h1>
      <hr>
  
      <label for="name"><b>Group/Channel Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" id="name" required>

      <button type="submit" class="registerbtn">Create Group</button>
      <button type="submit" class="registerbtn">Delete Group</button>
      <button type="submit" class="registerbtn">Create Channel</button>
      <button type="submit" class="registerbtn">Delete Channel</button>
    </div>
</form>
