<div class="container">
    <table class="table">
        <tr>
            <th>UserID</th>
            <th>Username</th>
            <th>User Group</th>
            <th>User Role</th>
        </tr>
        <tr style="padding-top:20px" *ngFor="let user of users">
            <td>{{user.userid}}</td>
            <td>{{user.username}}</td>
            <td>{{user.usergroup}}</td>
            <td>{{user.userrole}}</td>
            <td><input type="submit" class="button" value="Delete" (click)="deleteuser(user.userid)"></td>
        </tr>
    </table>
</div>
