<form action="action_page.php">
    <div class="container">
      <h1>Create New User</h1>
      <p>Please fill in this form to create a new user.</p>
      <hr>
  
      <label for="username" id="namelabel"><b>Username: </b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" [(ngModel)]="username" required>
      <br>

      <label for="email" id="emaillabel"><b>Email: </b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" [(ngModel)]="useremail" required>
      <br>
  
      <label for="id" id="idlabel"><b>ID Number: </b></label>
      <input type="text" placeholder="Enter ID" name="id" id="id" [(ngModel)]="userid" required>
  
      <input type="hidden" name="group" id="group" value="default-group" [(ngModel)]="usergroup" required>
      <input type="hidden" name="role" id="role" value="basic-user" [(ngModel)]="userrole" required>
      <hr>

      <button type="submit" class="registerbtn" (click)="submitNewUser()">Create User</button>
    </div>
</form>
