#username, #email, #id, #usergroup, #userrole{
    padding: 5px;
}

#emaillabel{
    padding-right: 58px;
}

#namelabel{
    padding-right: 23.5px;
}

#idlabel{
    padding-right: 15px;
}

#grouplabel{
    padding-right: 13.5px;
    padding-bottom: 5px;
}

#rolelabel{
    padding-right: 27.5px;
    padding-bottom: 5px;
    padding-top: 5px;
}